nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

.main-content {
  margin-top: 56px; /* Adjust the value based on the height of your NavBar */
}

.background-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image-wrapper {
  overflow: hidden;
  height: 100%
}

.background-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media queries for responsive behavior */
@media (max-width: 767px) {
  .background-image-container {
    grid-template-columns: 1fr;
  }
}

.bordered-text {
  -webkit-text-stroke: 1px black; /* For better rendering on macOS/iOS */
  text-stroke: 1px rgb(100, 100, 100); /* For better rendering on other platforms */
  -webkit-text-fill-color: rgb(11, 19, 155); /* For better rendering on macOS/iOS */
  text-fill-color: rgb(11, 19, 155);
}

h1, h2, h3, h4, h5, h6, p, span, div {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px rgb(100, 100, 100);
  -webkit-text-fill-color: rgb(11, 19, 155);
  text-fill-color: rgb(11, 19, 155);
  font-family: Arial, Helvetica, sans-serif;
}

.readable-container {
  background-color: rgba(255, 255, 255, 0.4); /* 20% white background */
  border-radius: 20px;
}