/* Navigation Bar Styles */
nav {
  background-color: #355E3B;
  color: #ffffff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main Content Styles */
.main-content {
  margin-top: 56px; /* Adjust the value based on the height of your NavBar */
}

/* Background Image Styles */
.background-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image-wrapper {
  overflow: hidden;
  height: 100%;
}

.background-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media Queries for Responsive Behavior */
@media (max-width: 767px) {
  .background-image-container {
    grid-template-columns: 1fr;
  }
}

/* Typography and Text Styles */
h1, h2, h3, h4, h5, h6, p, span, div {
  text-shadow: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.readable-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2% 0;
}

.card-display-container {
  background-color: rgba(230, 210, 185, 0.6);
  border-radius: 20px;
}

#logo-title {
  color: white;
  fill: white;
}

/* Footer Styles */
.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #355E3B;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-footer h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.fixed-footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff;
}

/* Labels */
.readable-labels {
  font-weight: 600;
}

/* Centered Content Wrapper */
.centered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* set height to full viewport height */
}

/* Centered Content Color Inheritance */
.centered-wrapper .centered-content {
  color: inherit; 
}

.centered-wrapper .centered-content .color-inherit {
  color: inherit;
}

/* Button Styles */
.tavern-btn {
  background-color: #A67C52;
  border-color: #B87333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-srs {
  background-color: #800020;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-srs:hover {
  background-color: red;
}

.tavern-btn-filter {
  color: #f7bd34;
  border-color: #B87333;
  background-color: #355E3B;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-filter:active {
  background-color: pink;
  font-weight: 600;
}

.tavern-btn-submit {
  background-color: #FFA500;
  border-color: #B87333;
}

/* Dropdown Menu Styles */
#dropdown-basic-button,
#dropdown-start-date,
#dropdown-end-date,
#min-players-filter,
#max-players-filter {
  background-color: #355E3B;
  border-color: #B87333;
  color: #f7bd34;
}

.dropdown-menu-container {
  max-height: 200px; /* Adjust the height as per your requirement */
  overflow-y: auto;
}

.custom-dropdown-menu {
  max-height: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Example CSS */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

nav ul li button:hover {
  text-decoration: underline;
}

.login-container .col {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

