nav {
    background-color: #61380B;
    color: #ffffff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }

.main-content {
  margin-top: 56px; /* Adjust the value based on the height of your NavBar */
}

.background-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image-wrapper {
  overflow: hidden;
  height: 100%
}

.background-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media queries for responsive behavior */
@media (max-width: 767px) {
  .background-image-container {
    grid-template-columns: 1fr;
  }
}

h1, h2, h3, h4, h5, h6, p, span, div {
  text-shadow: 2px;
  font-family:Arial, Helvetica, sans-serif
}

.readable-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding-bottom: 3%;
  padding-top:3%
}

.card-display-container {
  background-color: #E6D2B9, 0.6;
  border-radius: 20px;
}

#logo-title {
  color: white;
  fill: white;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #61380B;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-footer h3 {
  margin: 0;
  font-size: 1.2rem;
  color:#ffffff
}

.fixed-footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff
}

.readable-labels {
  font-weight: 600;
}

.centered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* set height to full viewport height */
}

/* Since React v6 */
.centered-wrapper .centered-content {
  color: inherit; 
}

/* React v5 and older */
.centered-wrapper .centered-content .color-inherit {
  color: inherit;
}

.tavern-btn {
  background-color: #A67C52;
  border-color: #B87333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-srs {
  background-color: #800020;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-srs:hover {
  background-color: red;
}

.tavern-btn-filter {
  color: #f7bd34;
  border-color: #B87333;
  background-color: #8B5A2B;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tavern-btn-filter:active {
  background-color: pink;
  font-weight: 600;
}

.tavern-btn-submit {
  background-color: #C46A01;
  border-color: #B87333;
}

#dropdown-basic-button {
  background-color: #8B5A2B;
  border-color: #B87333;
  color:#f7bd34;
}

#dropdown-start-date {
  background-color: #8B5A2B;
  border-color: #B87333;
  color:#f7bd34;
}

#dropdown-end-date {
  background-color: #8B5A2B;
  border-color: #B87333;
  color:#f7bd34;
}

#min-players-filter {
  background-color: #8B5A2B;
  border-color: #B87333;
  color:#f7bd34;
}

#max-players-filter {
  background-color: #8B5A2B;
  border-color: #B87333;
  color:#f7bd34;
}

.Button:hover {
  background-color: #FED353 !important;
}

.dropdown-menu-container {
  max-height: 200px; /* Adjust the height as per your requirement */
  overflow-y: auto;
}

.custom-dropdown-menu {
  max-height: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* colors
  Main Colors:

#61380B (Rich Sienna Brown)
#A67C52 (Camel Brown)
#8B5A2B (Saddle Brown)

Accent Colors:

#C79B6A (Tan)
#D2B48C (Pale Goldenrod)
#B87333 (Copper)

Other Elements:

#292518 (Charcoal Brown) - for text or accent elements
#E6D2B9 (Tan Hide) - for backgrounds or textured elements
#A0633B (Burnt Sienna) - for accents or call-to-action elements
*/